.tabs-root {
  color: darkgrey;
  font-size: 14px;
  border-bottom: 1px solid darkgrey;
  display: flex;
}

.tabs-root .tab-item {
  cursor: pointer;
  padding: 10px 20px;
}

.tabs-root .tab-item::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background-color: green;
  transition: all 0.3s;
}

.tabs-root .tab-item-active {
  color: green;
  position: relative;
}

.tabs-root .tab-item-active::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: green;
  transition: all 0.3s;
}